@import '../../styles/variables';


.header {
  @include innerBox(1);
  align-items: center;
  background-color: white;
}

.logo {
  grid-column: 2 / 4;
}
.links {
  grid-column: 8 / span 6;

  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 48px;
  justify-items: right;
}
