@import '../../../styles/variables';

.testimonials {
  padding-top: 165px;
  @include innerBox(4);
  background: white;
  justify-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 200px 200px 0 0;

  h2, p {
    grid-column: 3 / 13;
  }

  h3 {
    grid-column: 5 / -5;
  }
}
