@import '../../../styles/variables';


.hero {
  @include innerBox(2);
  background: white;
  border-radius: 0 0 200px 200px;
  padding-bottom: 100px;
}

.heroLeft {
  padding-top: 80px;
  grid-column: 2 / 6;
  display: grid;
  grid-row: repeat(4, auto);
  align-content: center;
  grid-gap: 20px;

  h1::after {
    position: relative;
    top: 20px;
    content: url('/caption.svg');
  }
}

.heroRight {
  grid-column: 7 / -2;

  div {
    border-radius: 64px 64px 200px 0;

  }
}
