@import 'variables';

.container {
  overflow: hidden;
  width: 100vw;
  display: grid;
  grid-template-columns: minmax(10px, 1fr) repeat(12, minmax(10px, 104px)) minmax(10px, 1fr);
  background: $BT80;
}
